extends ../layout2

block content
  h3 Add your question below
  form(method="post")
    input(type=text name="question" placeholder="Your question" required="true")
    br
    input(type=text name="option1" placeholder="Choice 1" required="true")
    br
    input(type=text name="option2" placeholder="Choice 2" required="true")
    br
    input(type=text name="option3" placeholder="Choice 3" required="true")
    br
    input(type=text name="correct" placeholder="Correct option number" required="true")
    br
    input(type=submit value="Add question")
