extends ../layout2

block content
  h3 Completed candidates
  each candidates in candidate
    p #{candidates.firstname} #{candidates.lastname}
    input(type="button" value="Accept" data-accept-btn="#{tests._id}" data-accept="#{candidates._id}" class="acceptButton")
    input(type="button" value="Reject" data-reject-btn="#{tests._id}" data-reject="#{candidates._id}" class="rejectButton")
