extends ../layout

block content
  #wrapper
    // Sidebar
    #sidebar-wrapper
      ul.sidebar-nav
        li.sidebar-brand
          a(href='#') #{tests.name}
        li
          a(href='#' data-team-id="#{tests._id}" id="team") Team
        li
          a(href='#' data-questions-id="#{tests._id}" id="questions") Questions
        li
          a(href='#' data-invites-id="#{tests._id}" id="invites") Invite Candidates
        li
          a(href='#' data-allCandidates-id="#{tests._id}" id="allCandidates") All Candidates
        li
          a(href='#' data-completed-id="#{tests._id}" id="completed") Completed tests
        li
          a(href='#' data-accepted-id="#{tests._id}" id="accepted") Accepted
    #contents
